*{
    padding: 0;
    margin: 0;
    
}
.wrapper{
    height: 3000px;
}
.head{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    
}
.head_trai{
    width: 45%;
    display: flex;   
    justify-content: space-between
}
.header_chu{
    list-style: none;
    margin-top: 15px;
}
a{
    text-decoration: none;
}
.head_phai{
    display: flex;
    width: 450px;
}
.head_hinh{
    margin-left: 10px;
    width:30px ;
    height: 25px;
    margin-top: 10px;
}
.than{
    
    width: 85%;
    margin: auto;
    height: 100%;
}
.than1{
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
}
.than1_chu{
    list-style: none;
}
.than3{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 12px;
}
.than3_trai{
    display: flex; 
}
h6{
    line-height: 20px;
    margin: 0px 3px;
}
.than3_phai{
    display: flex;
    
}
.than3_phaichu{
    margin: 0px 5px;
}
.than4{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 15px ;
    
}
.grid-item1{
    grid-row-start: 1;
    grid-row-end: 3;
    
}
.than4 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.than5{
    
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    border-bottom: 2px solid;
    border-color: aliceblue;

}
.than5_trai_hinhchu{
    display: flex;

}
.than5_trai{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 400px;
    
}
.than5_trai_1{
    display: flex;
    flex-direction: column;

}
.than5_trai_1 div{
    margin-top: 20px;
    margin-right: 70px;
}
.than5_trai_11{
    display: flex;
    justify-content: flex-start;
}
.than5_phai{
display: flex;
flex-direction: column;
justify-content: space-evenly;
border: 2px solid;
padding: 10px 20px 8px 20px ;
border-color: aliceblue;
height: 330px;
}
.than6{
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    padding-bottom: 60px;
    border-bottom: 2px solid ;
    border-color: aliceblue;
}
.t6_1{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.t6_11{
    display: flex;
    align-items: center;
}
.t6_12{
    display: flex;
}
.t6_2{
    display: flex;
    flex-direction: column;
}
.t6_21hinh{
    display: flex;
    justify-content: space-between;
    
}

.t6_2{
    display: flex;
    flex-direction: column;
}
.t6_21{
    display: flex;
    flex-direction: column;
}
.t6_22{
    display: flex;
    flex-direction: column;
}
.baohet{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.phan2{
    margin-right: 80px;
}

.than7{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    padding-bottom: 80px;
    border-bottom: 2px solid;
    border-color: aliceblue;
}
.than7tren{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.than7duoi{
    display: flex;
    margin-top: 25px;
    justify-content: space-between;
}
.than8{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 40px;
}
.than9{
    display: flex;  
    justify-content: center;
   
}
.than10{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.than10_giua{
position: relative;
}