*{
    padding: 0;
    margin: 0;
    
}
.wrapper{
    height: 2000px;
}
.head{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    
}
.head_trai{
    width: 45%;
    display: flex;   
    justify-content: space-between
}
.header_chu{
    list-style: none;
    margin-top: 15px;
}
a{
    text-decoration: none;
}
.head_phai{
    display: flex;
    width: 450px;
}
.head_hinh{
    margin-left: 10px;
    width:30px ;
    height: 25px;
    margin-top: 10px;
}
.than{
    
    width: 85%;
    margin: auto;
    height: 100%;
}
.than1{
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
}
.than1_chu{
    list-style: none;
}
.than3{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 12px;
}
.than3_trai{
    display: flex; 
}
h6{
    line-height: 20px;
    margin: 0px 3px;
}
.than3_phai{
    display: flex;
    
}
.than3_phaichu{
    margin: 0px 5px;
}
.than4{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 15px ;
    
}
.grid-item1{
    grid-row-start: 1;
    grid-row-end: 3;
    
}
.than4 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.than5{
    
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    border-bottom: 2px solid;
    border-color: aliceblue;

}
.than5_trai{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 450px;
    
}
.than5_trai_hinhchu{
    display: flex;
    flex-direction: column;
}
.than5_trai_hinhchucuoi{
    display: flex;
    width: 500px;
   
}
.oke1{
    display: flex;
    width: 180px;
    height: 30px;
    margin-top: 30px;
}
.oke2{
    display: flex;
    margin-top: 25px;
}
.than5_trai_hinhchu1{
    margin-right: 10px;   
    padding-bottom: -1000px;
}
.than5_trai_hinhchu2{
    margin-top: 2px;
}
.than5_phai{
display: flex;
flex-direction: column;
justify-content: space-evenly;
border: 2px solid;
padding: 10px 20px 8px 20px ;
border-color: aliceblue;
height: 330px;
}
